.dd{
    background: linear-gradient(360deg, rgba(207,230,236,1) 9%, rgba(255,251,255,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;

}
.contact{
    display: flex;
    width: 50vw;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    box-sizing: border-box;
    background: white;
}
.contact h1{
    text-align: center;
    font-weight: bold;
    

}
.contact-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:5px;

    
}
.contact-form label{
    font-size: 22px;
    color: black;
    
}
.contact-form input{
    height: 30px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
#message{
    min-height: 70px;
    max-width: 100%;
}
.contact-form button{
    text-align: center;
    margin-top: 20px;
    width: auto;
    margin: auto;
    color: white;
    background-color:rgb(249, 79, 79); 
    font-size: 20px;
    padding: 4px;
    border: none;
    
    cursor: pointer;
}

.contact-form button:hover{
    background-color: rgb(61, 10, 8);
}

.contact-form input:hover{
    border-color: chartreuse;

}


.extra{
    margin: 20px;
    margin-top: 5%;
    gap: 20px;
    
}
.extra section{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 140px;
    margin-bottom: 5%;
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.extra section:first{
    margin-top: 5px;
}

@media screen and (max-width:768px){
    .dd{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .contact{
        margin-bottom: 10px;
    }
    .extra{
        margin: 20px;
        margin-top: 5%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .extra section{
        height: 150px;
    }
}